In [1]:
import pandas as pd

In [2]:
pop = pd.read_csv('est2018-pop-res.csv')

In [7]:
pop

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
0,10,0,0,0,United States,327167434,253768092,77.6
1,40,3,6,1,Alabama,4887871,3798031,77.7
2,40,4,9,2,Alaska,737438,553622,75.1
3,40,4,8,4,Arizona,7171646,5528989,77.1
4,40,3,7,5,Arkansas,3013825,2310645,76.7
5,40,4,9,6,California,39557045,30567090,77.3
6,40,4,8,8,Colorado,5695564,4430329,77.8
7,40,1,1,9,Connecticut,3572665,2837472,79.4
8,40,3,5,10,Delaware,967171,763555,78.9
9,40,3,5,11,District of Columbia,702455,574961,81.9
10,40,3,5,12,Florida,21299325,17070244,80.1
11,40,3,5,13,Georgia,10519475,8013724,76.2
12,40,4,9,15,Hawaii,1420491,1117077,78.6
13,40,4,8,16,Idaho,1754208,1307236,74.5
14,40,2,3,17,Illinois,12741080,9883814,77.6
15,40,2,3,18,Indiana,6691878,5123748,76.6
16,40,2,4,19,Iowa,3156145,2425378,76.8
17,40,2,4,20,Kansas,2911505,2205544,75.8
18,40,3,6,21,Kentucky,4468402,3459573,77.4
19,40,3,7,22,Louisiana,4659978,3564062,76.5
20,40,1,1,23,Maine,1338404,1088000,81.3
21,40,3,5,24,Maryland,6042718,4702570,77.8
22,40,1,1,25,Massachusetts,6902149,5535291,80.2
23,40,2,3,26,Michigan,9995915,7831247,78.3
24,40,2,4,27,Minnesota,5611179,4308564,76.8
25,40,3,6,28,Mississippi,2986530,2280389,76.4
26,40,2,4,29,Missouri,6126452,4749622,77.5
27,40,4,8,30,Montana,1062305,832871,78.4
28,40,2,4,31,Nebraska,1929268,1452427,75.3
29,40,4,8,32,Nevada,3034392,2345395,77.3
30,40,1,1,33,New Hampshire,1356458,1098288,81.0
31,40,1,2,34,New Jersey,8908520,6954877,78.1
32,40,4,8,35,New Mexico,2095428,1613275,77.0
33,40,1,2,36,New York,19542209,15474107,79.2
34,40,3,5,37,North Carolina,10383620,8082975,77.8
35,40,2,4,38,North Dakota,760077,581379,76.5
36,40,2,3,39,Ohio,11689442,9096117,77.8
37,40,3,7,40,Oklahoma,3943079,2986593,75.7
38,40,4,9,41,Oregon,4190713,3317146,79.2
39,40,1,2,42,Pennsylvania,12807060,10158149,79.3
40,40,1,1,44,Rhode Island,1057315,852102,80.6
41,40,3,5,45,South Carolina,5084127,3978182,78.2
42,40,2,4,46,South Dakota,882235,664629,75.3
43,40,3,6,47,Tennessee,6770010,5263790,77.8
44,40,3,7,48,Texas,28701845,21303746,74.2
45,40,4,8,49,Utah,3161105,2228643,70.5
46,40,1,1,50,Vermont,626299,510326,81.5
47,40,3,5,51,Virginia,8517685,6647893,78.0
48,40,4,9,53,Washington,7535591,5872306,77.9
49,40,3,5,54,West Virginia,1805832,1441672,79.8
50,40,2,3,55,Wisconsin,5813568,4537465,78.0
51,40,4,8,56,Wyoming,577737,442962,76.7
52,40,X,X,72,Puerto Rico Commonwealth,3195153,2601142,81.4

In [6]:
len(pop['STATE'].unique())

53

In [8]:
len(pop['NAME'].unique())

53

In [9]:
pop.shape

(53, 8)

# Unique Values

Let's find out what kind of data is in each column...

In [10]:
type(pop['SUMLEV'])

pandas.core.series.Series

In [11]:
help(pd.core.series.Series.unique)

Help on function unique in module pandas.core.series:

unique(self)
    Return unique values of Series object.

    Uniques are returned in order of appearance. Hash table-based unique,
    therefore does NOT sort.

    Returns
    -------
    ndarray or ExtensionArray
        The unique values returned as a NumPy array. In case of an
        extension-array backed Series, a new
        :class:`~api.extensions.ExtensionArray` of that type with just
        the unique values is returned. This includes

        * Categorical
        * Period
        * Datetime with Timezone
        * Interval
        * Sparse
        * IntegerNA

    See Also
    --------
    unique : Top-level unique method for any 1-d array-like object.
    Index.unique : Return Index with unique values from an Index object.

    Examples
    --------
    >>> pd.Series([2, 1, 3, 3], name='A').unique()
    array([2, 1, 3])

    >>> pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)]).unique()
    array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

    >>> pd.Series([pd.Timestamp('2016-01-01', tz='US/Eastern')
    ...            for _ in range(3)]).unique()
    <DatetimeArray>
    ['2016-01-01 00:00:00-05:00']
    Length: 1, dtype: datetime64[ns, US/Eastern]

    An unordered Categorical will return categories in the order of
    appearance.

    >>> pd.Series(pd.Categorical(list('baabc'))).unique()
    [b, a, c]
    Categories (3, object): [b, a, c]

    An ordered Categorical preserves the category ordering.

    >>> pd.Series(pd.Categorical(list('baabc'), categories=list('abc'),
    ...                          ordered=True)).unique()
    [b, a, c]
    Categories (3, object): [a < b < c]

In [12]:
pop['SUMLEV'].unique()

array([10, 40])

In [13]:
pop['SUMLEV'].value_counts()

40    52
10     1
Name: SUMLEV, dtype: int64

In [18]:
pop.groupby(['SUMLEV','DIVISION']).count()

                 REGION  STATE  NAME  POPESTIMATE2018  POPEST18PLUS2018  \
SUMLEV DIVISION
10     0              1      1     1                1                 1
40     1              6      6     6                6                 6
       2              3      3     3                3                 3
       3              5      5     5                5                 5
       4              7      7     7                7                 7
       5              9      9     9                9                 9
       6              4      4     4                4                 4
       7              4      4     4                4                 4
       8              8      8     8                8                 8
       9              5      5     5                5                 5
       X              1      1     1                1                 1

                 PCNT_POPEST18PLUS
SUMLEV DIVISION
10     0                         1
40     1                         6
       2                         3
       3                         5
       4                         7
       5                         9
       6                         4
       7                         4
       8                         8
       9                         5
       X                         1

In [19]:
pop['DIVISION'].value_counts()

5    9
8    8
4    7
1    6
3    5
9    5
6    4
7    4
2    3
X    1
0    1
Name: DIVISION, dtype: int64

# Value Counts on an already unique column?

We should get a series of counts where every count has a value of 1

In [21]:
pop['NAME'].value_counts()

Georgia                     1
West Virginia               1
New Jersey                  1
New York                    1
Indiana                     1
Arkansas                    1
Colorado                    1
Nebraska                    1
South Dakota                1
Puerto Rico Commonwealth    1
Massachusetts               1
Oregon                      1
Texas                       1
Mississippi                 1
Montana                     1
Tennessee                   1
Hawaii                      1
Oklahoma                    1
United States               1
Alaska                      1
Virginia                    1
Washington                  1
Vermont                     1
Connecticut                 1
Kentucky                    1
District of Columbia        1
Michigan                    1
Louisiana                   1
Wyoming                     1
South Carolina              1
Florida                     1
Maryland                    1
Nevada                      1
Missouri                    1
New Hampshire               1
Ohio                        1
Iowa                        1
New Mexico                  1
Wisconsin                   1
Rhode Island                1
Alabama                     1
Kansas                      1
Utah                        1
Arizona                     1
California                  1
North Dakota                1
Pennsylvania                1
Minnesota                   1
Idaho                       1
Illinois                    1
Delaware                    1
North Carolina              1
Maine                       1
Name: NAME, dtype: int64

## Let's check...

What is the count of counts?

In [22]:
pop.NAME.value_counts().value_counts()

1    53
Name: NAME, dtype: int64

# Unique Records in Whole

In [23]:
pop.describe()

,SUMLEV,STATE,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
count,53.000000,53.000000,5.300000e+01,5.300000e+01,53.000000
mean,39.433962,29.226415,1.240623e+07,9.625233e+06,77.743396
std,4.120817,17.108974,4.465386e+07,3.463121e+07,2.062813
min,10.000000,0.000000,5.777370e+05,4.429620e+05,70.500000
25%,40.000000,16.000000,1.805832e+06,1.441672e+06,76.700000
50%,40.000000,29.000000,4.468402e+06,3.459573e+06,77.800000
75%,40.000000,42.000000,7.535591e+06,5.872306e+06,78.900000
max,40.000000,72.000000,3.271674e+08,2.537681e+08,81.900000

In [ ]:
help(pd.core.frame)

# Unique based on multiple columns

In [27]:
pop.groupby(['SUMLEV','REGION','DIVISION']).min()

                        STATE                      NAME  POPESTIMATE2018  \
SUMLEV REGION DIVISION
10     0      0             0             United States        327167434
40     1      1             9               Connecticut           626299
              2            34                New Jersey          8908520
       2      3            17                  Illinois          5813568
              4            19                      Iowa           760077
       3      5            10                  Delaware           702455
              6             1                   Alabama          2986530
              7             5                  Arkansas          3013825
       4      8             4                   Arizona           577737
              9             2                    Alaska           737438
       X      X            72  Puerto Rico Commonwealth          3195153

                        POPEST18PLUS2018  PCNT_POPEST18PLUS
SUMLEV REGION DIVISION
10     0      0                253768092               77.6
40     1      1                   510326               79.4
              2                  6954877               78.1
       2      3                  4537465               76.6
              4                   581379               75.3
       3      5                   574961               76.2
              6                  2280389               76.4
              7                  2310645               74.2
       4      8                   442962               70.5
              9                   553622               75.1
       X      X                  2601142               81.4

# Another data set

https://data.medicare.gov/resource/ukfj-tt6v.csv

Complications and deaths - provider data. This data set includes provider-level data for the hip/knee complication measure, the CMS Patient Safety Indicators, and 30-day death rates.

In [28]:
data = pd.read_csv('complications.csv')

In [29]:
data.shape

(92383, 19)

In [30]:
data.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Measure Start Date,Measure End Date,Location
0,050616,ST JOHNS PLEASANT VALLEY HOSPITAL,2309 ANTONIO AVE,CAMARILLO,CA,93010,VENTURA,8053895800,Pressure sores,PSI_3_ULCER,No Different than the National Rate,2181,0.14,0,0.82,NaN,10/01/2015,06/30/2017,"CAMARILLO, CA 93010 (34.230552, -119.057652)"
1,060071,DELTA COUNTY MEMORIAL HOSPITAL,1501 E 3RD STREET,DELTA,CO,81416,DELTA,9708747681,Pressure sores,PSI_3_ULCER,No Different than the National Rate,729,0.26,0,1.2,NaN,10/01/2015,06/30/2017,"DELTA, CO 81416 (38.736655, -108.099446)"
2,070033,DANBURY HOSPITAL,24 HOSPITAL AVE,DANBURY,CT,6810,FAIRFIELD,2037397000,Death rate for stroke patients,MORT_30_STK,No Different than the National Rate,489,12.9,10.7,15.4,NaN,07/01/2014,06/30/2017,"DANBURY, CT 06810 (41.387621, -73.458368)"
3,100175,DESOTO MEMORIAL HOSPITAL,900 N ROBERT AVE,ARCADIA,FL,34265,DE SOTO,8634943535,Pressure sores,PSI_3_ULCER,No Different than the National Rate,462,0.33,0,1.36,NaN,10/01/2015,06/30/2017,"ARCADIA, FL 34265 (27.219305, -81.860253)"
4,140083,LORETTO HOSPITAL,645 SOUTH CENTRAL AVE,CHICAGO,IL,60644,COOK,7736264300,Pressure sores,PSI_3_ULCER,No Different than the National Rate,1042,0.77,0,1.68,NaN,10/01/2015,06/30/2017,"CHICAGO, IL 60644 (41.881113, -87.756863)"

In [31]:
len(data['Hospital Name'].unique())

4772

In [33]:
data['State'].value_counts()

TX    7782
CA    6584
FL    3576
IL    3450
PA    3310
NY    3309
OH    3235
KS    2621
GA    2583
MI    2519
MN    2482
WI    2412
OK    2368
IN    2298
LA    2279
IA    2216
MO    2171
NC    2057
TN    2038
MS    1836
WA    1798
KY    1760
AL    1747
NE    1697
VA    1671
CO    1589
AZ    1481
AR    1456
NJ    1260
MA    1196
MT    1184
SC    1171
OR    1152
SD    1120
PR     994
MD     962
WV     955
UT     880
ND     842
ID     804
NM     785
NV     696
ME     633
CT     595
WY     544
NH     494
AK     456
HI     456
VT     272
RI     196
DC     158
DE     139
GU      38
VI      38
AS      19
MP      19
Name: State, dtype: int64

In [38]:
data.groupby(['City','Hospital Name']).count().shape

(4947, 17)

In [39]:
data.groupby(['City','Provider ID']).count().shape

(4956, 17)

In [40]:
data.groupby(['Provider ID']).count().shape

(4956, 18)

In [41]:
data.groupby(['State','City','Hospital Name']).count().shape

(4956, 16)